#misc mac
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#ssh files
*.user
authorized*
home.conf
id_*
ca*
known*
ssh_*
/controlmasters
/config.d/proxy.host
